__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.idea/
.vscode/
*.log
.git/
.gitignore
README.md
Dockerfile
docker-compose.yml
tests/
.github/
nginx/
scripts/
*.pytest_cache
.coverage
htmlcov/